*{
    box-sizing: border-box;
    margin: 0%;
}
#main{
    background-color: rgb(14, 168, 219);
    top: 20px;
    color: white;
    font-size: small;
    padding-left: 20px;
    display: flex;
    padding: 3px;
}
#title,#desc{
    width: 100%;
    border: none;
    padding: 12px;
    outline: none;
    font-size: large;

}
#title::placeholder,#desc::placeholder{
    color: rgb(14, 168, 219);
}
#xy{
    box-sizing: border-box;
    margin: 80px;
    padding: 12px;
    top: 50px;
    margin-top: 12px;
    bottom: 30px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    margin-bottom: 40px;
}
#tv{
    box-sizing:content-box ;
    background-color: rgb(14, 168, 219);
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    
    
}
#add{
    background-color: white;
    width: 80px;
    border: 1px solid white;
    padding: 5px;
    font-size: medium;
    cursor: pointer;
}
#add:hover{
    background-color:lightgrey;
}
#pend{
    width: auto;
    margin: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 2px;
    margin-bottom: 40px;
    
    
}
h1{
    color:rgb(14, 168, 219);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#com{
    margin: 80px;
    width: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 2px;
    
}
.food{
    justify-content: space-between;
    display: flex;
    background-color: #f1f1f1;
    margin:10px;
    /* box-shadow: 5px 1px 10px -2px rgba(33,33,33,.3); */
    border-radius: 5px;
    padding-left: 12px;
}
.oh{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.ohk{
    display: flex;
    align-items: center;
    padding-right: 20px;

}
#a:hover{
color: #B41010;
}

